body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/* HEADER */

section {
  max-width: 1030px;
  margin: 0 auto;
  padding: 46px 0 15px 0;
}

.background {
  background: url("../img/background.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section {
  /* прижимаю футер */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo img {
  margin-bottom: 8px;
}

/* меняю цвет логотипа */
.header-logo .header-logo-img:nth-of-type(2) {
  display: none;
}

.header-logo:hover .header-logo-img:nth-of-type(1) {
  display: none;
}

.header-logo:hover .header-logo-img:nth-of-type(2) {
  display: block;
}

.logo-wrapper {
  color: #fff;
  font-weight: 700;
}
.header-logo:hover .logo-wrapper {
  color: #f26522;
}

.logo-title {
  font-size: 29px;
}
.logo-subtitle {
  font-size: 18px;
}

.header-contact {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: flex-end;
}

.header-contact a:hover {
  color: #f26522;
}

/* MAIN */

main {
  /* прижимаю футер */
  flex: 1 1 auto;
}

.tour-list {
  margin-top: 19px;
}
.tour-list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 54px 37px;
  justify-content: space-between;
}
.tour-item {
  max-width: 310px;
  max-height: 260px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.tour-item:hover span {
  color: #f26522;
  transition: all 1ms ease-in;
}

.tour-list-image {
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
}

.tour-item-hover {
  position: absolute;
  bottom: -60px;
  width: 100%;
  height: 23%;

  background-color: #f26522;
  transition: all 1s ease;
}

.tour-item:hover .tour-item-hover {
  transform: translateY(-100px);
}
.price {
  display: flex;
}

/* FOOTER */

.copyright {
  text-align: center;
  color: #fff;
}
